@import "tailwindcss";

@theme{
  --color-background: #0A0F1C;
  --color-card: #111827;
  --color-primary: #3B82F6;
  --color-secondary: #8B5CF6;
  --color-text: #F9FAFB;
  --color-muted: #9CA3AF;
  --color-border: #1F2937;
  --color-hover : #2563EB;
  --font-poppins : "Poppins", sans-serif;
}